<%- include("./include/header.ejs") %>
    <main class="main">
      <!-- <button class="btn btn--primary"></button> -->
      <section class="visual">
        <h2 class="hidden">main video</h2>
        <video
          src="../video/cargo_color.mp4"
          autoplay
          muted
          loop
          class="visual__video"
        ></video>
        <div class="visual__txt">
          <h3
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="300"
          >
            PORT-TO-PORT <br />
            AI PLATFORM COMPANY
          </h3>
          <p
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="600"
          >
            선박과 항만의 연결,그리고 자율운항선박이 나아갈 길을<br />
            씨드로닉스는 Data-driven solution으로 이끌어 갑니다.
          </p>
          <p
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="600"
          >
            해양 환경의 안전과 미래를 책임질 씨드로닉스와 함께 미래를
            준비하세요.
          </p>
        </div>
      </section>
      <!-- visual end -->
      <section class="about section">
        <div class="container">
          <div class="about__txt" data-aos="fade-up">
            <h2>
              <strong>인공지능 기술</strong>을 통해<br />
              <strong>해양물류의 혁신</strong>을 이루어 갑니다.
            </h2>
            <p>
              선박의 자율운항, 운항 보조 시스템, 선박 모니터링 시스템 등
              <br />해양 환경의 안전과 미래를 책임질 기술을 개발하고, 제품을
              만들어갑니다.
            </p>
            <a href="" class="btn"
              >더 알아보기
              <span class="material-icons"> navigate_next </span></a
            >
          </div>
          <div class="about__img" data-aos="fade-left" data-aos-delay="500">
            <img
              src="../images/main/main-overview-logo_re.jpg"
              alt="seadronix_logo"
            />
          </div>
        </div>
      </section>
      <!-- about end -->
      <section class="products section gray">
        <div class="container">
          <div
            class="products-title"
            data-aos="fade-up"
            data-aos-duration="500"
          >
            <h2><strong>Our Products</strong></h2>
            <p>
              선박과 항만을 <strong>유기적인 관계</strong>로 기획하고,
              <strong>제품을 구현</strong>합니다.
            </p>
          </div>
          <div
            class="products-banner"
            class="products-title"
            data-aos="fade-up"
            data-aos-duration="500"
            data-aos-delay="500"
          >
            <a href=""
              ><div
                class="products-banner__title"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="800"
              >
                <h3>AVISS</h3>
                <p>항만분야</p>
              </div>
              <img
                src="../images/main/main-aviss.jpg"
                alt="AVISS"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="800"
              />
              <span
                class="material-icons more"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="800"
              >
                add_circle
              </span>
            </a>
            <a href=""
              ><div
                class="products-banner__title"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="900"
              >
                <h3>NAVISS</h3>
                <p>선박분야</p>
              </div>
              <img
                src="../images/main/main-naviss.jpg"
                alt="NAVISS"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="900"
              /><span
                class="material-icons more"
                data-aos="fade-up"
                data-aos-duration="500"
                data-aos-delay="900"
              >
                add_circle
              </span>
            </a>
          </div>
        </div>
      </section>
      <!-- products end -->
      <section class="section banner" data-aos="fade">
        <div class="container">
          <h2>
            <strong>
              씨드로닉스의 해양물류의 혁신이 궁금하신가요? <br />
              언제든지 연락주세요.
            </strong>
          </h2>
          <a href="" class="btn btn--white"
            >문의하기 <span class="material-icons"> navigate_next </span></a
          >
        </div>
      </section>
      <!-- banner end -->
      <section class="section tech">
        <div class="container">
          <div
            class="tech-title tech-item"
            class="products-title"
            data-aos="fade-up"
            data-aos-duration="500"
          >
            <h2><strong>Our Technology</strong></h2>
            <p>
              <strong>선박의 운항, 경험</strong>을 넘어<br />
              과학으로 이끌 <strong>인공지능 기술</strong>을 연구합니다.
            </p>
            <a href="" class="btn"
              >더 알아보기
              <span class="material-icons"> navigate_next </span></a
            >
          </div>
          <div class="tech-banner tech-item">
            <a href="">
              <div
                class="tech-banner__title"
                data-aos="fade-left"
                data-aos-duration="500"
                data-aos-delay="800"
              >
                <h3><strong>AI</strong></h3>
                <p>
                  해양 환경에 특화된 인공지능 기술은<br />
                  작은 부표부터 큰 선박까지<br />
                  바다 위에 존재하는 객체를 인식하고 분류합니다.
                </p>
              </div>
              <img
                src="../images/main/main-ai_re.jpg"
                alt="ai"
                data-aos="fade-left"
                data-aos-duration="500"
                data-aos-delay="800"
              /><span
                class="material-icons more"
                data-aos="fade-left"
                data-aos-duration="500"
                data-aos-delay="800"
              >
                add_circle</span
              >
            </a>
          </div>
          <div class="tech-banner tech-item">
            <a href="">
              <div
                class="tech-banner__title"
                data-aos="fade-left"
                data-aos-duration="500"
                data-aos-delay="900"
              >
                <h3><strong>Sensor Fusion</strong></h3>
                <p>
                  Radar, LiDAR 등의 센서 데이터를<br />
                  vision 데이터와 융합하여<br />
                  최상의 결과를 도출해냅니다.
                </p>
              </div>
              <img
                src="../images/main/main-sensor-fusion_re.jpg"
                alt="fusion"
                data-aos="fade-left"
                data-aos-duration="500"
                data-aos-delay="900"
              /><span
                class="material-icons more"
                data-aos="fade-left"
                data-aos-duration="500"
                data-aos-delay="900"
              >
                add_circle</span
              >
            </a>
          </div>
        </div>
      </section>
      <!-- tech end -->
      <section class="section investors">
        <div
          class="container"
          class="products-title"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <h2><strong>Our Investors</strong></h2>
          <!-- prettier-ignore -->
          <ul class="investors__list" class="products-title"
          data-aos="fade-up"
          data-aos-duration="1000">
          <li><a href=""><img src="../images/main/investor1.png" alt=""></a></li>
          <li><a href=""><img src="../images/main/investor2.png" alt=""></a></li>
          <li><a href=""><img src="../images/main/investor3.png" alt=""></a></li>
          <li><a href=""><img src="../images/main/investor4.png" alt=""></a></li>
          <li><a href=""><img src="../images/main/investor7.png" alt=""></a></li>
          <li><a href=""><img src="../images/main/investor6.png" alt=""></a></li>
          <li><a href=""><img src="../images/main/investor5.png" alt=""></a></li>
        </ul>
        </div>
      </section>
      <!-- investors end -->
      <section class="section news">
        <div
          class="container"
          class="investors-title"
          data-aos="fade-up"
          data-aos-duration="500"
        >
          <div class="news-title">
            <h2><strong>Recent News</strong></h2>
            <a href="" class="btn"
              >전체 보기 <span class="material-icons"> navigate_next </span></a
            >
          </div>
          <div class="news-banner">
            <ul class="news-banner__list swiper-wrapper">
              <!-- slide 돌리고 싶은거에 네이밍 지정 -->
              <li class="swiper-slide">
                <a href="">
                  <!-- 더미 이미지 필요할 때 lorem picsum
                    width 400 / height 250 -->
                  <div class="news__img">
                    <img src="https://picsum.photos/id/19/450/300" alt="" />
                    <span class="sticker">전자신문</span>
                  </div>
                  <div class="news__txt">
                    <h3>
                      Singapore's Smart Port Challenge announces 2022 start-up
                      winners
                    </h3>
                    <p class="date">2022-03-02</p>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="">
                  <div class="news__img">
                    <img src="https://picsum.photos/id/16/450/300" alt="" />
                    <span class="sticker">전자신문</span>
                  </div>
                  <div class="news__txt">
                    <h3>
                      Singapore's Smart Port Challenge announces 2022 start-up
                      winners
                    </h3>
                    <p class="date">2022-03-02</p>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="">
                  <div class="news__img">
                    <img src="https://picsum.photos/id/17/450/300" alt="" />
                    <span class="sticker">전자신문</span>
                  </div>
                  <div class="news__txt">
                    <h3>
                      Singapore's Smart Port Challenge announces 2022 start-up
                      winners
                    </h3>
                    <p class="date">2022-03-02</p>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="">
                  <div class="news__img">
                    <img src="https://picsum.photos/id/8/450/300" alt="" />
                    <span class="sticker">전자신문</span>
                  </div>
                  <div class="news__txt">
                    <h3>
                      Singapore's Smart Port Challenge announces 2022 start-up
                      winners
                    </h3>
                    <p class="date">2022-03-02</p>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="">
                  <div class="news__img">
                    <img src="https://picsum.photos/id/10/450/300" alt="" />
                    <span class="sticker">전자신문</span>
                  </div>
                  <div class="news__txt">
                    <h3>
                      Singapore's Smart Port Challenge announces 2022 start-up
                      winners
                    </h3>
                    <p class="date">2022-03-02</p>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="">
                  <div class="news__img">
                    <img src="https://picsum.photos/id/35/450/300" alt="" />
                    <span class="sticker">전자신문</span>
                  </div>
                  <div class="news__txt">
                    <h3>
                      Singapore's Smart Port Challenge announces 2022 start-up
                      winners
                    </h3>
                    <p class="date">2022-03-02</p>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="">
                  <div class="news__img">
                    <img src="https://picsum.photos/id/1/450/300" alt="" />
                    <span class="sticker">전자신문</span>
                  </div>
                  <div class="news__txt">
                    <h3>
                      Singapore's Smart Port Challenge announces 2022 start-up
                      winners
                    </h3>
                    <p class="date">2022-03-02</p>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="">
                  <div class="news__img">
                    <img src="https://picsum.photos/id/18/450/300" alt="" />
                    <span class="sticker">전자신문</span>
                  </div>
                  <div class="news__txt">
                    <h3>
                      Singapore's Smart Port Challenge announces 2022 start-up
                      winners
                    </h3>
                    <p class="date">2022-03-02</p>
                  </div>
                </a>
              </li>

              <li class="swiper-slide">
                <a href="">
                  <div class="news__img">
                    <img src="https://picsum.photos/id/28/450/300" alt="" />
                    <span class="sticker">전자신문</span>
                  </div>
                  <div class="news__txt">
                    <h3>
                      Singapore's Smart Port Challenge announces 2022 start-up
                      winners
                    </h3>
                    <p class="date">2022-03-02</p>
                  </div>
                </a>
              </li>
            </ul>
            <!-- 기본 모양에서 바뀌는 게 있으면 -- -->
            <button class="btn btn--round btn--fixed btn--next">
              <span class="material-icons"> arrow_forward </span>
            </button>
            <button class="btn btn--round btn--fixed btn--prev">
              <span class="material-icons"> arrow_back </span>
            </button>
          </div>
        </div>
      </section>
    </main>
    
    <button class="btn-top">
      <span class="material-icons"> north </span>
    </button>
    <script>
      AOS.init({
        duration: 1000,
        delay: 200,
      });
      const swiper = new Swiper(".news-banner", {
        slidesPerView: 3,
        spaceBetween: 20,
        loop: true,
        navigation: {
          nextEl: ".news-banner .btn--next",
          prevEl: ".news-banner .btn--prev",
        },
      });

      const header = document.querySelector(".header");
      const btnTop = document.querySelector(".btn-top");
      btnTop.addEventListener("click", function () {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });
      window.addEventListener("scroll", function (e) {
        console.log(window.scrollY);
        if (window.scrollY > 800) {
          header.classList.add("on");
          btnTop.classList.add("on");
        } else {
          header.classList.remove("on");
          btnTop.classList.remove("on");
        }
      });

      //console.log("나는 드디어 사용자가 일으키는 이벤트중에 scroll event를 감지할 수 있게 되었습니다.");
      //window.addEventListener("click", function () {
      //alert("너가 클릭했냐?");
      //});
    </script>
  </body>
</html>
<%- include("./include/footer.ejs") %>